In [1]:
import sys
import json

In [6]:
fd = open("record.json",'r')
r = fd.read()
fd.close()

record = json.loads(r)

In [7]:
record

{'1001': {'name': 'Choco Cake', 'qn': 29, 'pr': 100},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 95},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 95},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Peanuts', 'pr': 150, 'qn': 94},
 '1011': {'name': 'Chips', 'pr': 20, 'qn': 200},
 '1012': {'name': 'Choco Lava', 'pr': 40, 'qn': 150},
 '1013': {'name': 'Kurkure', 'pr': 20, 'qn': 50},
 '1014': {'name': 'Books', 'pr': 60, 'qn': 350},
 '1015': {'name': 'Rice', 'pr': 101, 'qn': 200},
 '1016': {'name': 'Butter', 'pr': 150, 'qn': 30},
 '1017': {'name': 'ProteinX', 'pr': 250, 'qn': 15},
 '1018': {'name': 'Water', 'pr': 20, 'qn': 250},
 '1019': {'name': 'Bread', 'pr': 35, 'qn': 80},
 '1020': {'name': 'juce', 'pr': 20, 'qn': 146},
 '1021': {'name': 'Oil', 'pr': 200, 'qn': 100},
 '1022': {'name': 'Coke', 'pr': 20, 'qn': 50},
 '1023': {'name': 'Pepsi', 'pr': 25, 'qn': 150},
 '1024': {'name': 'Slice', 'pr': 30, 'qn': 50},
 '1025': {'name': 'Rasgulla', 'pr': 150, 'qn': 300},
 '1026': {'name': 'pastry', 'pr': 25, 'qn': 50},
 '1027': {'name': 'Cream', 'pr': 90, 'qn': 1000},
 '1028': {'name': 'Ice Cream', 'pr': 45, 'qn': 150},
 '1029': {'name': 'Almonds', 'pr': 150, 'qn': 155},
 '1030': {'name': 'Sweets', 'pr': 12, 'qn': 244},
 '1031': {'name': 'Battery', 'pr': 20, 'qn': 200},
 '1032': {'name': 'Fruits', 'pr': 50, 'qn': 100}}

# Add New Item into Inventory

In [9]:
prod_id = input('Enter product ID: ')
for i in record:
    if(prod_id == i):
        print("Item already exist\n")
        qn = int(input("Enter quantity to add :"))
        record[prod_id]['qn'] += qn
        print('Quantity added succesfully')
        js = json.dumps(record)
        fd = open("record.json",'w')
        fd.write(js)
        fd.close()
        sys.exit()
        
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))

record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}

print('Record added succesfully')

js = json.dumps(record)

fd = open("record.json",'w')

fd.write(js)
fd.close()

Enter product ID: 1001
Item already exist

Enter quantity to add :10
Quantity added succesfully

SystemExit: Quantity added succesfully

In [5]:
record

{'1001': {'name': 'Choco Cake', 'qn': 29, 'pr': 100},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 95},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 95},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Peanuts', 'pr': 150, 'qn': 94},
 '1011': {'name': 'Chips', 'pr': 20, 'qn': 200},
 '1012': {'name': 'Choco Lava', 'pr': 40, 'qn': 150},
 '1013': {'name': 'Kurkure', 'pr': 20, 'qn': 50},
 '1014': {'name': 'Books', 'pr': 60, 'qn': 350},
 '1015': {'name': 'Rice', 'pr': 101, 'qn': 200},
 '1016': {'name': 'Butter', 'pr': 150, 'qn': 30},
 '1017': {'name': 'ProteinX', 'pr': 250, 'qn': 15},
 '1018': {'name': 'Water', 'pr': 20, 'qn': 250},
 '1019': {'name': 'Bread', 'pr': 35, 'qn': 80},
 '1020': {'name': 'juce', 'pr': 20, 'qn': 146},
 '1021': {'name': 'Oil', 'pr': 200, 'qn': 100},
 '1022': {'name': 'Coke', 'pr': 20, 'qn': 50},
 '1023': {'name': 'Pepsi', 'pr': 25, 'qn': 150},
 '1024': {'name': 'Slice', 'pr': 30, 'qn': 50},
 '1025': {'name': 'Rasgulla', 'pr': 150, 'qn': 300},
 '1026': {'name': 'pastry', 'pr': 25, 'qn': 50},
 '1027': {'name': 'Cream', 'pr': 90, 'qn': 1000},
 '1028': {'name': 'Ice Cream', 'pr': 45, 'qn': 150},
 '1029': {'name': 'Almonds', 'pr': 150, 'qn': 155},
 '1030': {'name': 'Sweets', 'pr': 12, 'qn': 244},
 '1031': {'name': 'Battery', 'pr': 20, 'qn': 200},
 '1032': {'name': 'Fruits', 'pr': 50, 'qn': 100}}